.catalog {
    &_btn {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 5px;
        background: #cecdeb;
        padding: 5px 10px;
        color: #5623e5;
        &_icon {
            height: 26px;
        }
    }
}